body {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
}

/* Title */

#title-img {
    width: 30vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#logo-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30vw;
    height: 120px;
    color: white;
    /* padding-top: 16px; */
}

#logo-img {
    height: 100px;
}

/* Content */
#content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 70vw;
}

